NODE_ENV=production
DEMO_MODE=true
DATABASE_URL=postgresql://postgres:yEwuwhZUShgmZImJasaAsVzYvwWoNizF@sakura.proxy.rlwy.net:35155/railway
APP_URL=http://localhost:3000
AUTH_SECRET=jhfuh83832jbshwqdg83yt73hdo3y879uih893y8/32/23
CLINIC_TIMEZONE=Asia/Kolkata
